* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: #4c5b66;
  color: #fff;
  padding-bottom: 60px;
  position: relative;
  overflow: visible;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 0%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

nav a {
  color: #fff;
   font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: opacity 0.3s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 300px;
}

.hero-text p {
  margin-bottom: 30px;
  color: #91999d;
  font-family: 'Open Sans', sans-serif;
}

.hero-btns {
  margin-top: 10px;
  background-color: #3a8dde;
}

.btn-one {
  background-color: #3a8dde;
  color: white;
  padding: 10px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 300px;
  margin-right: 15px;
}

.icon img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 6px;
}

.btn-two {
  display: inline-flex;         
  align-items: center;          
  gap: 10px;                   
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1px;           
}

.hero-image img {
  width: 400px;
  justify-content: left;
  align-items: baseline;
}

.clients {
  background: #eeeeee;
  padding: 20px 0;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
}

.features {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 60px 0;
}

.feature {
  width: 30%;
}

.feature .icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.btn-secondary {
  background: #3a8dde;
  color: #fff;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
}

.projects {
  padding: 60px 0;
  text-align: center;
}

.project-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.project-gallery img {
  width: 23%;
  border-radius: 5px;
}

.updates {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 0;
}

.updates h3 {
  margin-bottom: 15px;
}

.post {
  margin-bottom: 20px;
}

.twitter p {
  margin-bottom: 10px;
}

.footer {
  background: #f3f3f3;
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
  color: #777;
}

.social a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 18px;
}

